---
import ForsideLayout from "../layouts/ForsideLayout.astro";
import Nav from "../components/Nav.astro";
---

<ForsideLayout title="Katja Anker - Botanisk Illustration" description="Oplev Katja Ankers arbejde som botanisk illustrator.">
  <div class="flex flex-col items-center justify-center m-auto">
    <Nav />
  </div>
</ForsideLayout>
