---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Katja Anker - Kontakt" description="Kontakt Katja Anker.">
  <h1 class="flex flex-row justify-center text-[40px] md:text-[50px] font-titel font-bold mt-5 text-gron">Kontakt</h1>
</MainLayout>
